<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title> {{ .Page.Description }} </title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
		<link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
	</head>
	<body class="grid">
		<div class="header">
			<a class="header-link header-title" href="/">Brandon Castellanos</a>
			<a class="header-link" href="/">Home</a>
			<a class="header-link" href="{{ "about" | relURL }}">About</a>
			<a class="header-link" href="/">Blog</a>
			<a class="header-link" href="/">Projects</a>
			<a class="header-link" href="{{ "contact" | relURL }}">Contact</a>
		</div>
