<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title> {{ .Page.Description }} </title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body class="grid">
		<div class="header">
			<a class="header-link header-title" href="/">Brandon Castellanos</a>
			<a class="header-link" href="/">Home</a>
			<a class="header-link" href="/">About</a>
			<a class="header-link" href="/">Blog</a>
			<a class="header-link" href="/">Projects</a>
			<a class="header-link" href="/">Contact</a>
		</div>
